<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
<head>
  <base href="/" />
  <title>PortfolioStrat</title> 
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
  <script src="/jquery/dist/jquery.js"></script>
  <script src='/angular/angular.min.js'></script>
  <script src='/angular-ui-router/release/angular-ui-router.min.js'></script>
  <script src="http://code.highcharts.com/highcharts.src.js"></script>
  <script src='/highcharts-ng/dist/highcharts-ng.min.js'></script>
  <script src='app.js'></script>
  <script src='formOne.js'></script>
  <script src='formTwo.js'></script>
</head>

<body ng-app="portfolioStratApp">
  <div ui-view></div>
</body>

</html>