<section class='container'>

<h1>Form Two</h1>

<form role="form">

  <div class='form-group'>
  	<label for='dropdown'>Select a chart from the database</label>
    <select name="dropdown" 
    				ng-model="selectedId" 
    				ng-options='graph._id as graph._id for graph in allGraphs track by graph._id'
    				ng-change='fetchGraph(selectedId)'
    				class='form-control'>
		</select>
  </div>
</form>

<h2>Your Chart</h2>

<highchart id="chart2" config="returnedConfig" class="span10"></highchart>

</section>
