<section class='container'>

<h1>Form One</h1>

<form role="form" ng-submit="createGraph(graph)">
  <div class="form-group">
  	<input type="text" ng-model="graph.title" placeholder="Enter title" class="form-control">
  </div>
  <div class="form-group">
    <input type="number" ng-model="graph.data_min" placeholder="Enter minimum" class="form-control">
  </div>
  <div class="form-group">
    <input type="number" ng-model="graph.data_max" placeholder="Enter maximum" class="form-control">
  </div>
  <div class='form-group'>
    <select name="dropdown" ng-model="graph.chart_type" class='form-control'>
			<option value="line" selected>Line</option>
			<option value="scatter">Scatter</option>
			<option value="bar">Bar</option>
		</select>
  </div>
  <div class="input-group-btn">
    <input type="submit" class="btn btn-primary" value="Create Chart">
  </div>
</form>

<h2>Your Chart</h2>

<highchart id="chart1" config="chartConfig" class="span10"></highchart>

</section>